@media (min-width: 1200px)
  .container
  	width: 1170px
  	margin: 0 auto
  .wrap-card
  	width: 1170px
  	margin: 0 auto
  	.el-card
  	  width: 585px
  	  .el-card-right
  	  	width: 320px
  	  	margin-left: 34px
@media (max-width: 1200px)
  .container
  	width: 960px
  	margin: 0 auto
  .wrap-card
  	width: 960px
  	margin: 0 auto
  	.el-card
  	  width: 480px
  	  .el-card-right
  	  	width: 217px
  	  	margin-left: 34px
box-sizing()
  box-sizing: border-box
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  -o-box-sizing: border-box
  -ms-box-sizing: border-box
